[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "tree-sitter-ags-script"]
	path = tree-sitter-ags-script
	url = https://github.com/edmundito/tree-sitter-ags-script
[submodule "utf8proc"]
	path = utf8proc
	url = https://github.com/JuliaStrings/utf8proc
